* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: lightgray;
    /* background-color: #eddffd; */
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

button {
    border: none;
}

button:hover {
    cursor: pointer;
    transform: scale(1.1);
}

header {
    position: relative;
    height: 45rem;
    height: auto;
    width: 100%;
    padding: 2rem 5rem;
    background-image: url(../images/Purple\ Majesty.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

.mobile-nav {
    display: none;
}

#heading {
    display: none;
}

nav {
    margin-top: -4rem;
    display: flex;
    justify-content: space-between;
}

nav img {
    margin-top: 3rem;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
}

ul {
    display: flex;
    margin: 5rem;
    margin-top: 6rem;
}

ul li {
    margin: 0rem 2rem;
}

ul a {
    /* color: #BB58FF; */
    color: gold;
    transition: 0.3s ease-in-out;
    font-size: 1.2rem;
}

ul a:hover {
    text-decoration: underline;
    color: magenta;
}

.header-main {
    display: flex;
}

.profile {
    margin-top: 4rem;
}

.profile img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;

}

.profile p {
    color: goldenrod;
    text-align: center;
}

.mobilenav {
    display: none;
}

footer {
    margin-top: 5rem;
    /* background-image: linear-gradient(30deg, goldenrod, #773c9c); */
    /* background-image: linear-gradient(-255deg, #65379B, #4c40a2, goldenrod); */
    background-image: radial-gradient(circle at 10% 20%, #773c9c 0%, #7761bf 90.1%);
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    padding: 2rem 0rem;
    border-radius: 2rem 2rem 0rem 0rem;
}

.footer-logo img {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
}

.footer-items {
    margin-top: 2rem;
    margin-left: 2rem;
}

.footer-nav {
    display: flex;
}

.footer-nav li {
    margin-right: 2rem;
}

.footer-nav a {
    /* color: rgb(120, 46, 120); */
    color: goldenrod;
}

.footer-socials {
    display: flex;
}

.footer-socials h2 {
    /* color: rgb(120, 46, 120); */
    color: goldenrod;
}

.footer-socials a {
    margin: 0rem 2rem;
}

.footer-socials svg {
    border: none;
}

.footer-socials a svg:hover {
    fill: purple;
}

.right {
    /* color: rgb(120, 46, 120); */
    color: goldenrod;
}

@media screen and (max-width:567px) {
    .header-main {
        display: none;
    }

    #heading {
        display: block;
    }

    .mobile-nav {
        display: flex;
        align-items: center;
    }

    .menu-icon {
        cursor: pointer;
        margin-top: -3rem;
        margin-left: 15rem;
    }

    h3 {
        color: goldenrod;
        margin-left: -2rem;
    }

    .bar {
        width: 25px;
        height: 3px;
        background-color: goldenrod;
        transition: 0.4s;
    }

    .header-nav {
        display: none;
        list-style: none;
        padding: 0;
        margin: 0;
        width: 60%;
        position: fixed;
        top: 0;
        right: 0;
        height: 75vh;
        background-color: #773c9c;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        z-index: 999;
        border-radius: 1rem 0rem 0rem 1rem;
    }

    .header-nav li {
        margin: 1rem 0rem;
    }

    .header-nav a {
        color: goldenrod;
    }

    .header-nav.show {
        display: flex;
    }

    .close-icon {
        cursor: pointer;
        position: absolute;
        top: 20px;
        right: 20px;
        color: goldenrod;
    }



    #logo {
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
    }
}